.home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.home__row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}
/* .home__row:last-child{ */
    /* background-color: red; */
/* } */
.home__image{
    width: 100%;
    z-index: -1;
    /* background-image: url("https://images-eu.ssl-images-amazon.com/images/G/02/digital/video/merch2016/Hero/Covid19/Generic/GWBleedingHero_ENG_COVIDUPDATE__XSite_1500x600_PV_en-GB._CB428684220_.jpg"); */
    margin-bottom: -150px;
    /* height: 300px; */
    mask-image: linear-gradient(to bottom, black , rgba(211, 211, 211, 0));
}

@media screen and (max-width: 480px) {
    .home__image {
        margin-bottom: -50px;
    }
    .home__row{
        flex-direction: column;
    }
  }